* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 10px 20px;
    
}

header img{    
    max-width: 150px;
    height: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  
}

body {    
    display: flex;
    flex-direction: column;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_inside {
    display: flex;

    align-items: center;

    background-color:aquamarine;
    width: 50em;
    height: 50rem;
    justify-content: center;
    
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 2% 4%; 
    cursor: pointer;
    margin: 1%;
    
}

/* HÄR SKRIVER CHRISTOFER SIN KOD */
.div_create_post {
    text-align: center;
}

.main_create_post {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 1rem;
}

.main_create_post>img {
    width: 500px;
    height: 125px;
    margin-top: 3rem;    
}

.form_create_post {
    display: flex;
    flex-direction: column;
}

.headline_create_post {
    width: 31.3rem;
    height: 2rem;
    margin-bottom: 0.8rem;
    font-size: larger;
}

.text_create_post {
    font-size: larger;
    width: 80rem;
    
}

/* @media (max-width:) */



/* SLUT */

/* HÄR SKRIVER PHILLIP SIN KOD */

.sticky-ad {
    position: fixed;
    top: 35%;
    right: 3%; 
    z-index: 1000; 
    width: 150px;
    height: 320px; 
    background-color: transparent;
}

.ad-image {
    width: 200%; 
    height: 135%; 
    object-fit:fill;
    border: 2px solid #fff; 
    border-radius: 5px; 
}
/* SLUT */
