* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: blue;
}

body {    
    display: flex;
    flex-direction: column;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_inside {
    display: flex;

    align-items: center;

    background-color:aquamarine;
    width: 50em;
    height: 50rem;
    justify-content: center;
    
}



/* HÄR SKRIVER CHRISTOFER SIN KOD */



/* SLUT */


/* HÄR SKRIVER PHILLIP SIN KOD */
.placeholder_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #000;
    flex-wrap: wrap;
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 2% 4%; 
    cursor: pointer;
    margin: 1%;
}

.title-input {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 2%;
    flex-grow: 1;
    margin: 1%;
    min-width: 20%;
}

.logo {
    height: 10%; 
    max-height: 80px; 
    margin: 0 1%; 
    object-fit: contain;
}
/* SLUT */